* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NGO logo image */
.ngo-main-img {
    margin: auto;
    max-width: 250px;
}

/* NGO container */
.parent-ngo-container {
    border: solid rgb(184, 181, 181) 2px;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    margin-bottom: 0.75rem;
}

.ngo-container p {
    font-weight: 600;
}
.ngo-container {
    text-align: justify;
}

/* Navbar */
#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#mainNav #logoName {
    color: #64a19d;
}

#mainNav #logoName:hover {
    color: #5b8885;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    border-bottom: solid #64a19d;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}


/* NGOs section */
#ngo-section {
    margin-top: 6rem;
}