@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    letter-spacing: 0.0625em;
    font-family: 'Nunito', sans-serif !important;
}

/* Navbar */
#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#mainNav #logoName {
    color: #64a19d;
}

#mainNav #logoName:hover {
    color: #5b8885;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    border-bottom: solid #64a19d;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
    
}

/* hero section*/


.hero-section {
    display: flex;
    justify-content: space-around;
    padding-top: 7.5rem !important;
    /* background-color: #efecec; */
    background-color: #f7f6f6;
    padding-bottom: 1.5rem;
}

/* .hero-section p {
    color: #00000080;
}

.hero-about-section {
    flex: 1;
}

.add-flex-grow {
    flex-grow: 2;
}

.add-flex-grow p {
    text-align: justify;
    margin-top: 1rem;
} */

/* .hero-about-section:hero-about-section{
    margin-right: 20px;
}

.hero {
    padding-left: 50px;
} */

div.hero-image {
    display:none;
}

.hero-image {
    width: 600px;
    height: 400px;
}

.centered {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

.centered2 {
    color: #fff;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}


/* about section */
.about-section {
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.about-container {
    text-align: justify;
}

/* About the emergency */

.emergency-container {
    padding: 0.75rem 1rem 1rem 1rem;
} 

.emergency-container h2 {
    padding: 1.5rem 0 1.5rem 0;
}

.arrow-down {
    color: #00000080;
}

/* NGOs section */
.they-help-container h2 {
    background-color: #f8f9fa;
    margin-bottom: 0;
    padding: 1.5rem 0 1.5rem 0;
}

/* NGO logo image */
.ngo-main-img {
    margin: auto;
    max-width: 250px;
    padding: 1rem 0;
}

/* NGO container */
.parent-ngo-container {
    padding: 0.75rem 1rem 1.75rem 1rem;
}

.ngo-container {
    text-align: justify;
}

/* Light container */
.container-light p {
    font-weight: 500;
    color: #00000080;
}

.container-light h3 {
    font-weight: 500;
    color: #212529;
    padding-top: 0.75rem;
}

.container-light {
    background-color: #f8f9fa;
}

/* Dark Container  */
.container-dark p {
    font-weight: 500;
    color: #ffffff80;
}

.container-dark h3 {
    font-weight: 500;
    color: #ffffff;
    padding-top: 0.75rem;
}

.container-dark {
    background-color: #212529;
}

/* NGOs page buttons */
.btn-ngo-link {
    background-color: #64a19d;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn-ngo-link:hover {
    background-color: #5b8885;
    color: #fff;
}

/* You can help too */
.container,
.emergency-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.donation,
.lead {
  color:whitesmoke;
  text-align: center;
}

.donations-section {
  padding: 2rem 0;
  background: linear-gradient(to bottom, #64a19d, #50786d, #3b5144, #242d23, #070a00);
}

.don-bg {
  background:linear-gradient(to top, #64a19d, #50786d, #3b5144, #242d23, #070a00);
}

.don-links-section {
    padding-top: 1rem;
}

.don-links-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
}

.don-links-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  }

.card-link {
    text-transform: uppercase;
    color: #64a19d;    
}

/* Collaborators section */

#team {
    margin-top: 1rem;
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
  }
.team-member img {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid #64a19d;
}

.team-member h5, .team-member .h5 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

.team-member .btn-social {
    background-color: #64a19d;
    color: #fff;
    /* width: 5rem; */
}

.team-member .btn-social:hover {
    background-color: #64a19d94;
}

/* Footer */
footer {
    background-color: #4c7976;
}



/* Responsivness for mobile */
@media only screen and (max-width: 600px) {
    #myVideo {
        width: 100%;
        height: auto;
    }
  }