@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    letter-spacing: 0.0625em;
    font-family: 'Nunito', sans-serif !important;
}

/* Navbar */
#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#mainNav #logoName {
    color: #64a19d;
}

#mainNav #logoName:hover {
    color: #5b8885;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    border-bottom: solid #64a19d;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

/* about section */
.about-section {
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

#about {
    margin-top: 4.674rem;
}

.about-container {
    text-align: justify;
}

/* About the emergency */

.emergency-container {
    padding: 0.75rem 1rem 1rem 1rem;
}

.emergency-container h2 {
    padding: 1.5rem 0 1.5rem 0;
}

.arrow-down {
    color: #00000080;
}

/* NGOs section */
.they-help-container h2 {
    background-color: #f8f9fa;
    margin-bottom: 0;
    padding: 1.5rem 0 1.5rem 0;
}

/* NGO logo image */
.ngo-main-img {
    margin: auto;
    max-width: 250px;
    padding-top: 1rem;
}

/* NGO container */
.parent-ngo-container {
    padding: 0.75rem 1rem 1.75rem 1rem;
}

.ngo-container {
    text-align: justify;
}

/* Light container */
.container-light p {
    font-weight: 500;
    color: #00000080;
}

.container-light h3 {
    font-weight: 500;
    color: #212529;
    padding-top: 0.75rem;
}

.container-light {
    background-color: #f8f9fa;
}

/* Dark Container  */
.container-dark p {
    font-weight: 500;
    color: #ffffff80;
}

.container-dark h3 {
    font-weight: 500;
    color: #ffffff;
    padding-top: 0.75rem;
}

.container-dark {
    background-color: #212529;
}

/* NGOs page buttons */
.btn-ngo-link {
    background-color: #64a19d;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn-ngo-link:hover {
    background-color: #5b8885;
    color: #fff;
}